.review {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #eee;
}

.review img {
    padding: 10px;
    border-radius: 50%;
}

@media screen and (max-width: 700px) {
    .review {
        flex-direction: column;
    }
}